<script>
  import P5Canvas from "./P5Canvas.svelte";
  const instanceId = Math.floor(Math.random() * 9999999);
</script>

<style>
  :global(body) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(*, *:before, *:after) {
    box-sizing: border-box;
    position: relative;
  }
</style>

<svelte:head>
  <title>A Random Walk</title>
</svelte:head>

<P5Canvas {instanceId} />
