<script>
  import { onMount } from "svelte";
  import { fade } from "svelte/transition";
  import p5 from "p5";

  export let instanceId;

  let wrapperElement;
  let controlsElement;
  let canvas;

  const sketch = function(p5) {
    let x = p5.windowWidth / 2;
    let y = p5.windowHeight / 2;

    p5.setup = function() {
      p5.createCanvas(p5.windowWidth, p5.windowHeight);
    };
    p5.windowResized = function() {
      p5.resizeCanvas(p5.windowWidth, p5.windowHeight);
    };

    p5.draw = function() {
      p5.background(255);
      p5.stroke(0);
      p5.strokeWeight(3);
      p5.point(x, y);

      let r = p5.floor(p5.random(4));

      switch (r) {
        case 0:
          x = x + 1;
          break;

        case 1:
          x = x - 1;
          break;

        case 2:
          y = y + 1;
          break;

        case 3:
          y = y - 1;
          break;

        default:
          break;
      }
    };
  };

  onMount(function() {
    new p5(sketch, wrapperElement);
  });
</script>

<div id={"canvas-" + instanceId} class="canvas-wrapper" transition:fade bind:this={wrapperElement} />
<div id={"controls-" + instanceId} class="controls-wrapper" transition:fade bind:this={controlsElement}>
<p>{instanceId}</p>
</div>

<style>
.canvas-wrapper {
  position: absolute;
  z-index: 1;
  flex: 1;
}
.controls-wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  flex: 1;
}
</style>